root = true

# EditorConfig: https://editorconfig.org/

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
# Keep trailing spaces for markdown list alignment/line breaks
trim_trailing_whitespace = false
